<footer>
    <p>Copyright © 2017-2200.Company name All rights reserved.<a href="/"></a></p>
</footer>


<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/query-object.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
</body>

</html>