<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/iconfont/iconfont.css" rel="stylesheet">
    <link href="/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- jquery 要首先引入-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- 封装的 ajax -->
    <script src="/js/my-ajax.js"></script>
    <% if(locals.cart) { %>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap3.css" />
    <link type="text/css" rel="stylesheet" href="/css/cart.css" />
    <% } %>
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="content">
            <a class="title" href="/">C2C</a>

            <div class="search">
                <input type="text" placeholder="商品查询" name="search" class="nav_search_input">
                <i onclick="search()" class="iconfont iconfangdajing"></i>
            </div>

            <div class="user">
                <% if (locals.isLogin) { %>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="iconfont iconyonghu"></i><%= locals.userName%>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item my-drop-down" href="/cart">购物车</a>
                    <a class="dropdown-item my-drop-down" href="/msg">我的消息</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item my-drop-down" href="/myboughts">我的已购商品</a>
                    <a class="dropdown-item my-drop-down" href="/mygood">我发布的商品</a>
                    <a class="dropdown-item my-drop-down" href="/mybeg">我发布的求购商品</a>
                    <div class="dropdown-divider"></div>
                    <% if (locals.userName === 'admin') { %>
                    <a class="dropdown-item my-drop-down" href="/typesetting">分类设置</a>
                    <% } %>
                    <a class="dropdown-item my-drop-down" href="/setting">设置</a>
                    <a id="btn-logout" class="dropdown-item my-drop-down">退出</a>
                </div>
                <% } else { %>
                <button onclick="window.location.href='/login'" type="button" class="btn btn-link">登录</button>
                <button onclick="window.location.href='/register'" type="button" class="btn btn-link">注册</button>
                <% } %>
            </div>
        </div>
    </header>
    <div class="nav-box">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link custom-nav" href="/">首页</a>
            <div>|</div>
            <a class="flex-sm-fill text-sm-center nav-link custom-nav" href="/mall">商城</a>
            <div>|</div>
            <a class="flex-sm-fill text-sm-center nav-link custom-nav" href="/begmall">求购商城</a>
            <div>|</div>
            <!-- <a class="flex-sm-fill text-sm-center nav-link custom-nav" href="#">反馈与意见</a>
            <div>|</div> -->
            <a class="flex-sm-fill text-sm-center nav-link custom-nav" href="#">联系我们</a>
        </nav>
    </div>

    <script>
        $(function () {
            // 退出登录
            $('#btn-logout').click(function () {
                if (confirm('是否确定退出登录？') === false) {
                    return
                }
                ajax.post('/api/user/logout', function (err, data) {
                    if (err) {
                        console.error(err)
                        return
                    }
                    alert('已成功退出')
                    location.href = '/'
                })
            })
        })

        function search() {
            if (!$('.nav_search_input').val()) {
                alert("请输入搜索关键字~")
                return
            }
            window.location.href = '/search/' + $('.nav_search_input').val()
        }
    </script>