<%- include('layout/header', { title: '二手交易商城 - 购物车' })%>

<div class="container margin-top-20">
    shopping cart

</div>

<script>
    $(function () {

    })
</script>

<%- include('layout/footer')%>