<%- include('layout/header', { title: '二手交易商城 - 求购' })%>

<div class="container margin-top-20">
    <button type="button" class="btn btn-success">发布求购商品</button>

</div>

<script>
    $(function () {

    })
</script>

<%- include('layout/footer')%>