<%- include('layout/header', { title: '二手交易商城 - 商品' })%>

<div class="container mygood-content">
    <button id="add-btn" type="button" class="btn btn-success">发布商品</button>
    <ul class="product-list" style="margin-top: 20px;">
        <li class="item">
            <div class="pic-box" style="margin-bottom:0;">
                <img width="100%" height="160"
                    src="http://cdn.cnbj0.fds.api.mi-img.com/b2c-shopapi-pms/pms_1573714515.51751293.jpg" alt=""
                    srcset="">
                <div>
                    <p>有意者联系：2312</p>
                </div>
            </div>
            <div class="title">
                huawei P40
            </div>
            <div class="prize" style="margin: 10px 0;">
                ￥ 123.0元
            </div>
            <div class="type" style="color:#888;margin-bottom: 10px;">文具-修养-散学</div>
            <div class="tools">
                <i class="iconfont iconbianji"></i>
                <i class="iconfont iconshanchu"></i>
            </div>
        </li>
    </ul>
</div>

<script>
    $(function () {
        var $edit = $('.iconbianji')
        var $add = $('#add-btn')
        $edit.click(function(){
            console.log("click")
            window.location.href = '/good/edit/1'
        })
        $add.click(function(){
            console.log("click")
            window.location.href = '/addgood'
        })

    })
</script>

<%- include('layout/footer')%>