<%- include('layout/header', { title: '二手交易商城 - 商品设置' })%>

<div class="container margin-top-20">
    <div class="row">
        商品设置
    </div>

</div>

<script>
    $(function () {
        
    })
</script>

<%- include('layout/footer')%>